* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.nav_link {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header, .sobreMim {
  background-color: black;
}

ul {
  display: flex;
  width: 49%;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  font-size: 25px;
}

@media (max-width:800px) {
  ul {
    width: 100%
  }
}

ul > li {
  list-style: none;
}

body {
  color: grey;
}

.banner {
  text-align: center;
  text-transform: uppercase;
  margin-top: 200px;
  font-size: 1.5rem;
  transition: 0.5s;
}

.banner_title {
  margin-bottom: 16px;
}

@media (max-width:800px) {
  .banner_title {
    width: 60%;
    text-align: left;
    margin: 0 auto;
    font-size: 60px;
  }
}

.banner_title-color {
  color: #5BCBB2;
}

.banner_subtitle {
  font-weight: 200;
}

@media (max-width:800px) {
  .banner_subtitle {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px
  }
}

/*utilizado o media para não aparecer a setinha para baixo no desktop*/
/* @media (min-width:800px) {
  .seta {
    display: none;
  }

  .banner_subtitle {
    padding-bottom: 200px;
  }
} */
/*final do media*/

.seta {
  padding: 50px;
}

.seta_img {
  width: 90px;
  background-color: black;
  margin: 11px;
  cursor: pointer;
  transition: 0.4s;
}

/* .buttonImg {
  background-color: black;
  border-width: 4px;
  margin-bottom: 20px;
  cursor: pointer;
} */

.setaText {
  color: #B3B2B2;
  text-align: justify;
  text-transform: initial;
  width: 60%;
  font-size: 20px;
  margin: 20px auto;
}

.setaText--invisible {
  display: none;
}

.projetos_title, .titles {
  color: #B3B2B2;
  text-align: center;
  padding: 50px;
}

.projetos_title {
  margin-bottom: 100px;
}

@media (max-width:800px) {
  .projetos_title {
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 26px;
    }
}

.projetos_site {
  display: flex;
}

@media (max-width:800px) {
  .projetos_site {
    flex-direction: column;
  }
  .site {
    flex-direction: column;
    display: flex;
  }
}

.site_img {
  width:90%;
}

@media (max-width:800px) {
  .site_img {
    margin: 0 auto;
    }
}

.site_title {
  color: black;
  width: 90%;
  margin-top: 20px;
  text-align: justify;
  font-weight: 100;
  margin-bottom: 5px;
}

.btn {
  padding: 32px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width:800px) {
  .site_title, .btn {
    width: 100%;    
  }
}

.btn_link {
  color: white;
  border-radius: 1rem;
  background-color: #48cfad;
  padding: 9px 30px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

.sobreMim {
  background-color: black;
  text-align: center;
  padding-bottom: 60px;
}

.titles {
  text-transform: uppercase;
  color: white;
}

.sobreMim_img {
  background-color: #ddd;
  border-radius: 100%;
  height: 157px;
  object-fit: cover;
  width: 157px;
}

@media (max-width:800px) {
  .sobreMim_img {
    height: 154px;
  }
}

.sobreMim_description {
  margin: 20px auto;
  width: 54%;
  font-size: 14px;
  font-weight: 200;
}

@media (max-width:800px) {
  .sobreMim_description {
    margin-bottom: 45px;
    width: 100%;
    
  }
}

.btn_link_sobreMim {
  text-transform: uppercase;
  color: #48cfad;
  text-decoration: none;
  border: 1px solid #48cfad;
  padding: 3px 27px;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width:800px) {
  .btn_link_sobreMim {
    padding: 13px 30px;
    font-size: 17px;
  }
}

.contato {
  padding-bottom: 60px;
}

@media(max-width:800px) {
  .contato {
    padding-bottom:0;
  }
}

.contato_title {
  color: #B3B2B2;
  text-align: center;
  padding: 5%;
  font-size: 200%;
}

@media (max-width:800px) {
  .contato_title {
    width: 100%;
    margin: 30px auto;
  }
}

.contato_icons {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media(max-width:800px) {
  .contato_icons {
    flex-direction: column;
   
  }
}

.contato_img {
  margin: 27px;  
}

@media (max-width:800px) {
  .contato_img {
    width: 40%;
    height: 100%;
  }
}

.contato_img-icon {
  width: 80%;
  border-radius: 10px;
  height: 100%;
}

@media (max-width:800px) {
  .contato_img-icon {
    width: 30%;
    height: 85%;
     }
}

@media (max-width:800px) {
  .container_icons {
    margin-bottom: 25px;
    text-align: center;
  }
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 10px;
}

@media(max-width:800px) {
  h5 {
    display: none;
  }
}

@media(max-width:800px) {
  footer {
    height: 20px;
  }
}
